@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

    --breakpoint-3xl: 120rem;
    --breakpoint-sm: 640px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1280px;
    --breakpoint-2xl: 1536px;

    --color-tla: #233054;
}

.t2 {
    @apply font-semibold tracking-tight text-balance 2xl:text-6xl xl:text-5xl text-4xl text-tla p-2 md:p-4 font-semibold; 
}

.t3 {
    @apply text-tla text-2xl md:text-3xl font-semibold; 
}

.t3b {
    @apply text-tla text-3xl font-medium; 
}

.wp {
    @apply text-2xl xl:text-2xl 2xl:text-3xl text-gray-600
}

